<?xml version="1.0" encoding="UTF-8"?>

<widget id="com.emanueleferonato.bwban" version="0.0.1">
	<name>HelloWorld</name>
	<description>A sample Apache Cordova application that responds to the deviceready event.</description>
	<author email="dev@callback.apache.org" href="http://phonegap.com">Apache Cordova Team</author>
	<content src="index.html" />
	<preference name="fullscreen" value="true" />
	<icon src="icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
	<icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
	<icon src="icons/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />
	<icon src="icons/ios/icon-72_at_2x.png" gap:platform="ios" width="144" height="144" />
</widget>

